venv
__pycache__
.vscode
.env
.DS_Store
static/listing_images/*
!static/listing_images/.gitkeep
!static/listing_images/milk.webp
!static/listing_images/testImage.png
!static/listing_images/water_bottle.jpg
static/profile_images/*
!static/profile_images/default.png