body{
    padding-bottom: 75px;
}

/* _layout */

.nav-item a{
    float: left;
    display: block;
    font-size: 28px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 8px;
}

.container-account{
    margin: auto;
    max-width: 350px;
    text-align: center;
    margin-top:50px;
}

.p_account{
    margin:10px;
    color:gray;
}

.success {
    background: rgba(42, 156, 47, 0.9);
    color: #fff;
    margin:15px;
    padding: 5px;
  }

.error {
    background: rgba(255, 51, 51, 0.9);
    color: #fff;
    margin:15px;
    padding: 5px;
  }

/* Login/Signup */

.log_sign_ul{
    padding:0px;
    display: inline;
}

.log_sign_li{
    display: inline;
}

form[name="create_form"] {
    margin-top: 20px;
    padding-top: 20px;
}

.form-group{
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.main-body{
    padding-bottom: 70px;
    margin: 0;
    box-sizing: border-box;
}

.copyright{
    color: white;
}

/* Market-Place-Page */

.main-body .column {
    float: left;
    width: 25%; 
    padding: 12px;
    text-align: center;
}

.column .card img {
    width: 225px;
    object-fit: contain;
    padding: auto;
    margin: auto;
}

.card {
    background-color: grey;
    padding: 20px;
}

.card .container {
    margin-top: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Profile-Page */
.main-body .column-left {
    float: left;
    width: 30%;
    margin-top: 75px;
    padding: 20px;
}

.main-body .column-left-hidden {
    float: left;
    width: 30%;
    padding: 20px;
    visibility: hidden;
}

.main-body .column-right {
    float: left;
    width: 70%;
    margin-top: 40px;
}

.column-left .card img {
    width: 100%;
    max-height: auto;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 50%;
}

.column-right .card {
    float: left;
    width: 31%;
    max-height: auto;
    padding: 20px;
    margin: 8px;
    text-align: center;
}

.column-right .card img {
    float: left;
    width: 225px;
    height: 225px;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.column-right h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.inner-row:after{
    content: "";
    display: table;
    clear: both;
}

/* Listing-Page */
.main-body .listing-column-main {
    float: left;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 8px;
    text-align: center;
    margin-top: 12px;
    background-color: rgba(93, 93, 93);
}

.listing-column-main .main-card img {
    width: 700px;
    object-fit: contain;
    object-position: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 16px;
    margin: 1px;
}

.listing-column-main .main-card h2 {
    font-weight: 450;
}

.listing-column-main .main-card .listing-description{
    display: inline-block;
    font-size: small;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
    width: 65%;
}

.listing-column-main .main-card .price-date-labels {
    font-size: small;
}

.main-card {
    background-color: rgb(203, 203, 203);
    padding: 4px;
}

.listing-column-side {
    visibility: hidden;
}

.single-comment{
    padding-bottom: 15px;
    width: auto;
}

.listinig-medium{
    font-size: large;
}

.comment-left{
    width: 14%;
    text-align: left;
    margin-right: 1%;
}

.comment-middle{
    width:65%;
    text-align: left;
    margin-right: 1%;
}

.comment-right{
    width:19%;
    text-align: left;
}

.comment-button{
    display: inline-block;
}

.comment-update-right{
    width:85%;
    text-align: left;
}

.comment-text, .comment-date{
    margin:0px;
    padding:0px;
}

.cancel-button{
    border-left: 1px solid black;
    background: red;
}
#custom{
        --bs-btn-color: #F0914D;
        --bs-btn-border-color: #F0914D;
        --bs-btn-hover-color: #F3E1D5;
        --bs-btn-hover-bg: #F0914D;
        --bs-btn-hover-border-color: #F0914D;
        --bs-btn-focus-shadow-rgb: 25,135,84;
        --bs-btn-active-color: #F3E1D5;
        --bs-btn-active-bg: #F0914D;
        --bs-btn-active-border-color: #F0914D;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #F0914D;
        --bs-btn-disabled-bg: transparent;
        --bs-btn-disabled-border-color: #F0914D;
        --bs-gradient: none;
}