.nav-item a{
    font-size: 28px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 8px;
}

.container-login{
    margin: auto;
    max-width: 350px;
    text-align: center;
    margin-top:50px;
}