.nav-item a{
    font-size: 28px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 8px;
}

form[name="create_form"] {
    margin-top: 20px;
    padding-top: 20px;
}

.form-group{
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

