{% extends '_layout_pages.html' %}

{% block body %} 
<div class="row">
    <div class="listing-column-side">
        <h1>Side 1</h1>
    </div>

    <div class="listing-column-main">
        <div class="main-card">
            <h2>{{Listing.title}}</h2>
            <img src="/static/listing_images/{{Listing.listing_image}}" alt="Listing-img">
            <h3>{{Listing.category}}</h3>
            <div class="listing-description">
                <p>{{Listing.listing_description}}</p>
            </div>
            <div class="price-date-labels">
                <p class="price">${{Listing.price}}</p>
                <p class="date-posted">{{Listing.date_posted}}</p>
            </div>
            <form class="input-group mb-3" method = "POST" action="/create_comment/{{Listing.listing_id}}">
                <input type="text" id="text" name="text" class="form-control" placeholder="Comment">
                <button type="submit" class="btn btn-primary">Comment</button>
            </form>
            <div id="comments-{{Listing.listing_id}}">
                <div class="card">
                    <div class="card body">
                        <h4>Comments</h4>
                        {% if Listing.comments %}
                            {% for comment in Listing.comments%}
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                <p><a href="/profile/{{comment.person_id}}">{{comment.person.first_name + " " + comment.person.last_name}} </a>: {{comment.content}}</p>
                                </div>
                                <div>
                                    <small class="text-muted">{{comment.date_posted}}</small>
                                    <a class="btn btn-primary" href="/delete_comment/{{Listing.listing_id}}/{{comment.comment_id}}" role="button">Delete</a>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <p>No Comments</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="listing-column-side">
        <h1>Side 1</h1>
    </div>
</div>
{% endblock %}


<div class="btn-group">
    <button 
      type="button" 
      class="btn btn-sm btn-primary dropdown-toggle" 
      data-bs-toggle="dropdown"
    ></button>
    <ul class="dropdown-menu">
        <li>
            <a href="" class="dropdown-item">Delete</a>
        </li>
    </ul>
</div>