{% extends '_layout_pages.html' %}

{% block body %} 
<div class="row">
    <div class="listing-column-side">
        <h1>Side 1</h1>
    </div>

    <div class="listing-column-main">
        <div class="main-card">
            <h2>{{Listing.title}}</h2>
            <img src="/static/listing_images/{{Listing.listing_image}}" alt="Listing-img">
            <h3>{{Listing.category}}</h3>
            <div class="listing-description">
                <p>{{Listing.listing_description}}</p>
            </div>
            <div class="price-date-labels">
                <p class="price">${{Listing.price}}</p>
                <p class="date-posted">{{Listing.date_posted}}</p>
            </div>
        </div>
    </div>

    <div class="listing-column-side">
        <h1>Side 1</h1>
    </div>
</div>
{% endblock %}