{% extends '_layout_account.html' %}

{% block body %}

<h2>Login</h2>

<form action="/login" method="post">
    
    <div class="mb-3">
    <label for="loginEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" name="loginEmail" id="loginEmail" aria-describedby="loginEmail" required>
    </div>

    <div class="mb-3">
    <label for="loginPassword" class="form-label">Password</label>
    <input type="password" class="form-control" name="loginPassword" id="loginPassword" aria-describedby="loginPassword" required>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>

</form>

<p class="p_account">Dont have an account?</p>
<p class="p_account">Make one now!</p>
<a href="/signup"><button class="btn btn-primary">Signup</button></a>

{% endblock %}