{% extends '_layout_pages.html'%}

{% block body %} 
<div class="row">
    <div class="column">
        <div class="card" href>
            <img src="/static/images/CampusMarketLogo.jpg" alt="item-img">
            <div class="container">
                <p>Listing Title</p>
                <p>Price</p>
                <a href="/profile">User</a>
            </div>  
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/static/images/CampusMarketLogo.jpg" alt="item-img">
            <div class="container">
                <p>Listing Title</p>
                <p>Price</p>
                <a href="/profile">User</a>
            </div>  
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/static/images/CampusMarketLogo.jpg" alt="item-img">
            <div class="container">
                <p>Listing Title</p>
                <p>Price</p>
                <a href="/profile">User</a>
            </div>  
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/static/images/CampusMarketLogo.jpg" alt="item-img">
            <div class="container">
                <p>Listing Title</p>
                <p>Price</p>
                <a href="/profile">User</a>
            </div>  
        </div>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="card">
            <img src="/static/images/CampusMarketLogo.jpg" alt="item-img">
            <div class="container">
                <p>Listing Title</p>
                <p>Price</p>
                <a href="/profile">User</a>
            </div>  
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/static/images/CampusMarketLogo.jpg" alt="item-img">
            <div class="container">
                <p>Listing Title</p>
                <p>Price</p>
                <a href="/profile">User</a>
            </div>  
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/static/images/CampusMarketLogo.jpg" alt="item-img">
            <div class="container">
                <p>Listing Title</p>
                <p>Price</p>
                <a href="/profile">User</a>
            </div>  
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/static/images/CampusMarketLogo.jpg" alt="item-img">
            <div class="container">
                <p>Listing Title</p>
                <p>Price</p>
                <a href="/profile">User</a>
            </div>  
        </div>
    </div>
</div>
{% endblock %}