{% extends '_layout_pages.html' %}

{% block body %}
<div class="row">
    <div class="column-left">
        <div class="card">
            {% if Person.profile_image %}
            <img src="/static/profile_images/{{Person.profile_image}}" alt="Profile-img">
            {% else %}
            <img src="/static/profile_images/ryan-reynolds.jpeg" alt="Profile-img">
            {% endif %}
            <p>{{Person.first_name}} {{Person.last_name}}</p>
            <a href="/create_listing">Create new listing</a>
        </div>
    </div>
    
    <div class="column-right">
        <h1>My Listings</h1>
        <div class="inner-row">
            {% for Listing in user_list %}
            <div class="card">
                <img src="/static/listing_images/{{Listing.listing_image}}" alt="item-img">
                <div class="container">
                    <p>{{Listing.title}}</p>
                    <p>${{Listing.price}}</p>
                    <a href="/listing_page/{{Listing.listing_id}}">More Info</a>
                    <a href="/update_listing/{{Listing.listing_id}}">Update</a>
                </div>  
            </div>
            {% endfor %}
        </div>
    </div>
    
</div>
{% endblock %}