{% extends '_layout_pages.html' %}

{% block body %}
<div class="row">
    <div class="column-left">
        <div class="card">
            {% if Person.profile_image %}
            <img src="/static/profile_images/{{Person.profile_image}}" alt="Profile-img">
            {% else %}
            <img src="/static/profile_images/default.png" alt="Profile-img">
            {% endif %}
            <p>{{Person.first_name}} {{Person.last_name}}</p>
            <p><small>{{Person.bio}}</small></p>
            {% if isOwner %}
            <p><a href="/create_listing">Create new listing</a></p>
            <p><a href="/update_profile/{{Person.person_id}}">Update Profile</a></p>
            {% endif %}
        </div>
    </div>
    
    <div class="column-right">
        <h1>{{Person.first_name}}'s Listings</h1>
        
        {% if user_list[0] %}
            <div class="inner-row">
                {% for Listing in user_list %}
                    <div class="card">
                        <img src="/static/listing_images/{{Listing.listing_image}}" alt="item-img">
                        <div class="container">
                            <p>{{Listing.category}}</p>
                            <p>{{Listing.title}}</p>
                            <p>{{"${:0,.2f}".format(Listing.price)}}</p>
                            <p>{{Listing.date_posted.strftime("%b %d %Y")}}</p>
                            <a href="/listing_page/{{Listing.listing_id}}">More Info</a>
                            {% if isOwner %}
                            <a href="/update_listing/{{Listing.listing_id}}">Update</a>
                            <a href="/delete_listing/{{Listing.listing_id}}">Delete</a>
                            {% endif %}
                            
                            
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <div>
            {% if isOwner %}
            <p>No personal listings. Create a listing from the side pannel!</p>
            {% else %}
            <p>{{Person.first_name}} has no listings at this time!</p>
            {% endif %}
        </div>
        {% endif %}
    </div>
    
</div>
{% endblock %}