{% extends '_layout_pages.html' %}

{% block body %}
<div class="row">
    <div class="column-left">
        <div class="card">
            <img src="/static/images/ryan-reynolds.jpeg" alt="Profile-img">
            <p>Ryan Reynolds</p>
            <a href="/create_listing">Create new listing</a>
            <a href="/update_listing">Update previous listing</a>
        </div>
    </div>
    <div class="column-right">
        <h1>My Listings</h1>
        <div class="inner-row">
            <div class="card">
                <img src="/static/images/CampusMarketLogo.jpg" alt="item-img">
                <div class="container">
                    <p>Listing Title</p>
                    <p>Price</p>
                    <a href="/listing_page">User</a>
                </div>  
            </div>
            <div class="card">
                <img src="/static/images/CampusMarketLogo.jpg" alt="item-img">
                <div class="container">
                    <p>Listing Title</p>
                    <p>Price</p>
                    <a href="/profile">User</a>
                </div>  
            </div>
            <div class="card">
                <img src="/static/images/CampusMarketLogo.jpg" alt="item-img">
                <div class="container">
                    <p>Listing Title</p>
                    <p>Price</p>
                    <a href="/profile">User</a>
                </div>  
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="column-left-hidden"></div>
    <div class="column-right">
        <div class="inner-row">
            <div class="card">
                <img src="/static/images/CampusMarketLogo.jpg" alt="item-img">
                <div class="container">
                    <p>Listing Title</p>
                    <p>Price</p>
                    <a href="/profile">User</a>
                </div>  
            </div>
            <div class="card">
                <img src="/static/images/CampusMarketLogo.jpg" alt="item-img">
                <div class="container">
                    <p>Listing Title</p>
                    <p>Price</p>
                    <a href="/profile">User</a>
                </div>  
            </div>
            <div class="card">
                <img src="/static/images/CampusMarketLogo.jpg" alt="item-img">
                <div class="container">
                    <p>Listing Title</p>
                    <p>Price</p>
                    <a href="/profile">User</a>
                </div>  
            </div>
        </div>
    </div>
</div>
{% endblock %}