{% extends '_layout_pages.html' %}

{% block body %} 
<div class="listing-column-main">
    <div class="main-card">
        <div class="listing-title">
            <h2>{{Listing.title}}</h2>
        </div>
        <div class="listing-image">
            <img src="/static/listing_images/{{Listing.listing_image}}" alt="Listing-img">
        </div>
        <div class="description-container">
            <div class="description-area">
                <div class="listing-description">
                    <p>{{Listing.listing_description}}</p>
                </div>
                <div class="price-date-labels">
                    <p class="price">Price: {{"${:0,.2f}".format(Listing.price)}}</p>
                    <p class="date-posted">Posted on {{Listing.date_posted.strftime("%b %d %Y")}}</p>
                </div>
            </div>
        </div>
        <div class="comment-area"> 
            <div class="form-area">
                <form class="input-group mb-3" method = "POST" action="/create_comment/{{Listing.listing_id}}">
                    <input type="text" id="text" name="text" class="form-control" placeholder="Comment">
                    <button type="submit" class="btn btn-primary">Comment</button>
                </form>
            </div>
            <div id="comments-{{Listing.listing_id}}">
                <div class="card">
                    <div class="card body">
                        <h4>Comments</h4>
                        {% if comments %}
                            {% for comment in comments %}
                                {% if comment.comment_id.urn[9:] == comment_id %}
                                    <div class="d-flex justify-content-between align-items-center single-comment">
                                        <div class="comment-left">
                                            <p class="comment-text"><a href="/profile/{{comment.person_id}}">{{comment.person.first_name + " " + comment.person.last_name}}</a>:</p>
                                        </div>
                                        <div class="comment-update-right">
                                            <br>
                                            <form class="input-group mb-3" method = "POST" action="/update_comment/{{Listing.listing_id}}/{{comment.comment_id}}">
                                                <input type="text" id="text" name="text" class="form-control" value="{{comment.content}}">
                                                <button type="submit" class="btn btn-primary">Update</button><br>
                                                <a class="btn btn-danger" href="/listing_page/{{Listing.listing_id}}" role="button">Cancel</a>
                                            </form>
                                        </div>
                                    </div>
                                {% else %}
                                <div class="d-flex justify-content-between align-items-center single-comment">
                                    <div class="comment-left">
                                        <p class="comment-text"><a href="/profile/{{comment.person_id}}">{{comment.person.first_name + " " + comment.person.last_name}}</a>:</p>
                                    </div>
                                    <div class="comment-update-right">
                                        <p class="comment-text">{{comment.content}}</p>
                                        <small class="text-muted comment-date">{{comment.date_posted.strftime("%b %d %Y, %I:%M%p")}}</small>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <p>No Comments</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endblock %}


